#box
{
	width:300px;
	border:1px solid lightblue;
	padding:50px;
	margin:20px;
}
#box1
{
	width:200px;
	border:15px solid blue;
	padding:45px;
	margin:15px;
	background-color:lightblue;
}
#box2
{
	background-color:lightblue;
	width:150px;
	border:1px solid black;
	padding:40px;
	margin:0px;
}
#box3
{
	background-color:lightblue;
}
/* Your CSS Code here. */